OPENDTU_BASE_URL=http://192.168.178.73
OPENDTU_FALLBACK_URLS=http://OpenDTU-FAE538,http://OpenDTU-FAE538.local,http://192.168.4.1
OPENDTU_DB_PATH=data/opendtu_stats.db
OPENDTU_USERNAME=
OPENDTU_PASSWORD=
OPENDTU_VERIFY_TLS=true
OPENDTU_TIMEOUT=15
